*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    color: white;
    font-weight: 400;
}

body, input, button, textarea {
    font: 400 18px/1 'Oswald', sans-serif;
}
